.addlivr {
    font-size: 3.4vh;
    padding: 3vh;
    color: var(--marrom);
    display: flex;
    justify-content: center;
}

.books-list1 {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 3vh;
    padding-bottom: 6vh;
}

.botao-base1 {
    background-color: var(--marrom-primario);
    color: var(--branco-diferente);
    padding: 14px;
  }

.botao-base1:hover {
    background-color: var(--marrom-escuro);
    color: var(--branco-primario);
  }

.carregando {
    display: flex;
    justify-content: center;
    color: var(--marrom);
    margin-bottom: 4px
}
