

.book-description_container {
  font-family: Arial, sans-serif;
}

.book-description_container {
  font-family: Arial, sans-serif;
  padding: 20px;
  border-radius: 10px;
  width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  font-weight: bold;
}

.book-description-wrapper {
  height: 100vh;
  background-color: #fdf6e3; 
  display: flex;
  justify-content: center;
  align-items: center;
}


.back-button{
  display: flex;
  background-color: transparent;
  align-items: center;
  transition: all 0.3s;
  transform: rotate(180deg)
}

.back-button:hover{
  background-color: transparent;
    
}
  
.back-button:after{
  background-color: transparent;
  cursor: pointer;
  content: "➔";
  font-size: 3vh;
  color: #8E6B44;
}


.body-book-description {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #FFF9E1;
  padding: 30px;
  height: auto;
  width: 80%;
  box-shadow: 0px 0px 10px 2px #BD9B75;
  border-radius: 8px;
}

.sinopse-detalhes{
  background-color: #8E6B44;
  font-size: 20px;
  padding: 15px;
  color: #FFF6D3;
  border-radius: 10px;
  margin-top: 15px;
}

.detalhes-strong{
  color: #5C3D27;
  font-size: 30px;
}

.detalhe{
  color: #B28C33;
  font-size: 23px
}

.book-details-image img {
  justify-content: center;
  height: 100px;
  width: 290vw;
  display: flex;
  border-radius: 8px;
}


.book-details-image-description {
  text-align: center;
  justify-content: center;
  height: 70vh;
  width: auto;
  display: flex;
  padding: 50px;
}

.book-details-image-description img {
  box-shadow: 0 0px 10px var(--marrom);
  border-radius: 8px;
}

.book-details-content {
  flex-grow: 1;
  width: 60vw;
}

.book-details-info {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  height: 100%;
}

.book-details-info h1{
  font-size: 39px;
  color: var(--marrom);
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

#h2-book-info1{
  font-size: 24px;
  display: flex;
  padding-top: 13px;
  padding-bottom: 6px;
}

.cu {
  color: #d9534f;
}

#paragrafos{
  font-size: 15px;
}

.book-details-info h1 {
  color: 35C3D27;
}

#h2-book-info1 {
  font-weight: bold;
  color: #6c4f35;
}


.sinopse_livro {
  background: var(--marrom-claro);
  padding: 20px;
  border-radius: 5px;
  font-style: italic;
  color: var(--branco-primario);
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

/* Botões */
button {
  
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  margin-top: 10px;
}

.notify-button {
  background-color: #3B7629;
  color: var(--branco-primario);
}

.notify-button:hover {
  background-color: #6db357;
}

.cancel-button {
  background-color: #cf352f;
  color: white;
}

.cancel-button:hover {
  background-color: rgb(167, 48, 48);
  color: white;
}

.reserve-button {
  background-color: #3B7629;
  color: var(--branco-primario);
}

.reserve-button:hover {
  background-color: #6db357;
  color: var(--branco-primario);
}

.reserve-button:disabled {
  background-color: #bbb;
}

.esteregg-button {
  background-color: #3b5998;
  color: white;
}

.h2-e-paragrafos{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.titulo-book{
  margin: 0;
}


#info-geral{
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
}