/* Botão de voltar */
.back-button {
    align-self: flex-start;
    background-color: #2a9d8f;
    color: white;
    border: none;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 2rem;
  }
  
  .back-button:hover {
    background-color: #21867a;
  }


 /* Formulário de pesquisa */
 .search-form {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .botao-base {
    background-color: var(--marrom-primario);
    color: var(--branco-diferente);
    margin-top: 0.5vw;
  }

  .botao-base:hover {
    background-color: var(--marrom-escuro);
    color: var(--branco-primario);
  }
