/* var(--marrom-claro) */

:root {

    /*  primarias  */

    --marrom-primario: #826049;
    --amarelo-primario: #E2B71B;
    --preto: #000000;
    --branco-primario: #FFF6D3;

    /*  secundarias  */

    --marrom: #8E6B44;
    --marrom-escuro: #5C3D27;
    --amarelo: #ECCC5B;
    --amarelo-suave: #F0D678;
    --ouro: #B28C33;
    --marrom-claro: #BD9B75;
    --amarelo-claro: #E8CF73;
    --branco-diferente: #FFF1BF;

    /*  sucesso  */

    --verde-claro: #82BF6F;
    --verde-escuro: #3B7629;
    --verde: #5A9349;

    /*  falha  */

    --vermelho: #C50707;
    --vermelho-claro: #C54A4C;
    --vermelho-escuro: #B72626;

    /*  neutras  */

    --branco: #ffffff;
    --cinza-claro: #939393;
    --cinza-escuro: #515151;
    
  }