/* src/styles/DevolucaoDetails.css */

.devolucao-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--marrom-claro);
    box-shadow: 0 0px 14px var(--marrom-escuro);
  }
  
  .book-image-devolucao img {
    width: 20vw;
    max-height: 600px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

.dawn {
  color: var(--marrom-escuro);
}

  textarea {
    border-radius: 10px;
    background-color: var(--branco-primario);
    color: var(--marrom);
  }

  .book-image-devolucao {
    padding-left: 190px;
  }
  
  .book-info-devolucao h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: var(--marrom);
  }
  
  .book-info-devolucao p {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: var(--marrom-escuro);
  }
  
 .book-info-devolucao {
  background-color: var(--branco-primario);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

 .caixa-branca {
  background-color: var(--branco-diferente);
  border-radius: 10px;
  border: none;
  color: var(--marrom-escuro);
  box-shadow: 0 0px 14px var(--marrom);
 }
  
  .usuario-reservas {
    background-color: var(--marrom);
    padding: 15px;
    margin-top: 3vh;
    border-radius: 10px;
    box-shadow: 0 0px 14px var(--marrom-escuro);
  }
  
  .usuario-reservas h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--branco-diferente);
  }

  .botao-base6 {
    background-color: var(--marrom-primario);
    color: var(--branco-diferente);
    display: flex;
    align-items: center;
  }

  .text-observ {
    color: var(--branco-primario);
  }

  .botao-base6:hover {
    background-color: var(--marrom-escuro);
    color: var(--branco-primario);
  }
  
  .usuario-reservas p {
    font-size: 1em;
    margin-bottom: 5px;
    color: var(--branco-primario);
  }
  
  .reserva-info {
    margin-top: 10px;
    background-color: var(--marrom-claro);
    padding: 10px;
    border-radius: 5px;
  }
  
  .reserva-info p {
    font-size: 1em;
    margin-bottom: 5px;
    color: var(--branco-diferente);
  }
  
  .reserva-info strong {
    color: var(--marrom-escuro);
  }
  
