/* src/styles/DevolucaoDetails.css */

.devolucao-details-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .book-image img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .book-info h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .book-info p {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #555;
  }
  
  .reservation-details {
    margin-top: 20px;
  }
  
  .usuario-reservas {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .usuario-reservas h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .usuario-reservas p {
    font-size: 1em;
    margin-bottom: 5px;
    color: #666;
  }
  
  .reserva-info {
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
  }
  
  .reserva-info p {
    font-size: 1em;
    margin-bottom: 5px;
    color: #444;
  }
  
  .reserva-info strong {
    color: #333;
  }
  