.floating-letters-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
  }
  
  .floating-letter {
    position: absolute;
    color: rgb(92, 0, 0);
    font-weight: bold;
    animation: floatAnimation linear infinite alternate;
  }
  
  @keyframes floatAnimation {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    100% {
      transform: translateY(-100vh) rotate(360deg);
    }
  }
  