.historico-reservas {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #343a40;
    color: #fff;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #dee2e6;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  