body{
  background-color: #FFF6D3;
}

.home-container{
  height: 90.5vh;
}

.img-home {
  height: 30vh;
  width: 100%; /* Garante que a div ocupe toda a largura */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("src/assets/img/Fundo_biblioteca_home.png");
  background-repeat: no-repeat;
  background-size: cover; /* Faz a imagem cobrir toda a div */
  background-position: center;
  margin-top: 20px;
  filter: blur(15px);
}
