/* Container principal da página */
.manage-books-container {
    display: flex;
    flex-direction: column;

    padding: 10vh;
   
    min-height: 100vh;
  }
/* Título principal da página */
.manage-books-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Indicador de carregamento */
.loading-indicator {
  font-size: 1.2rem;
  color: #888;
}

/* Lista de livros */
.books-list-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 colunas */
  gap: 20px; /* Espaçamento entre os cards */
  padding: 10px;
}

/* Cartão de cada livro */
.book-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Imagem do livro dentro do cartão */
.book-card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.no-image-placeholder {
  width: 100%;
  height: 150px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  border-radius: 8px;
}

/* Título do livro */
.book-card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

/* Autor do livro */
.book-card-author {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

/* Informações de disponibilidade e estoque */
.book-card-stock-info {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}

.book-card-status {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.book-available {
  color: green;
}

.book-unavailable {
  color: red;
}

.book-card-late {
  color: orange;
  font-weight: bold;
}

.book-card-fine {
  color: red;
  font-weight: bold;
}

/* Botões de ação */
.book-card-button {
  background-color: #4caf50;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 0.9rem;
}

.book-card-button:hover {
  background-color: #45a049;
}

.delete-book-button {
  background-color: #f44336;
}

.delete-book-button:hover {
  background-color: #d32f2f;
}

/* Espaçamento e alinhamento de botões */
.book-card-actions {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  justify-content: space-between;
}

/* Estilo para as mensagens de erro ou sucesso */
.message {
  font-size: 1rem;
  color: green;
  font-weight: bold;
}

.error-message {
  font-size: 1rem;
  color: red;
  font-weight: bold;
}
