

body{
  height: 100vh;

}

.container_principal_user{
  height: auto;
}

.logout-button{
  background-color: rgb(202, 28, 28);
  width: 100%;
}

.logout-button:hover{
  background-color: rgb(184, 21, 21);
}

.primeiro_container{
  align-items: center;
  height: 70vh;
  display: flex;
  justify-content: space-around;
}


.esquerda_primeira{
  background-color: #FFF9E1;
  height: 600px;
  width: 500px;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 2px #BD9B75;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.direita_primeira{
  height: 64vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between  
}

.img_perfil img{
  height: 300px;
}

.dados-pessoais p{
  font-size: 18px;
  counter-reset: #9c480b;
  margin: 5px 0; 
  line-height: 1.2; 
  
}



#nome_p{
  font-size: 40px;
  color: #826049; 
  margin-bottom: 9px;
}

.multas_perfil{
  width: 100%;
  background-color: #FFF9E1;
  height: 30%;
  box-shadow: 0px 0px 10px 2px #BD9B75;
  border-radius: 17px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 20px;
  display: flex;
  
  gap: 20px;
  overflow-x: auto;
  flex-wrap: nowrap;
  overflow-y: hidden;   
}

.reservados_perfil{
  width: 100%;
  background-color: #cfa600;
  height: 50%;
  box-shadow: 0px 0px 10px 2px #BD9B75;
  border-radius: 17px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

#livros_reservados_h2{
  color: #5A9349;
}

#suas_multas{
  color: #B72626;
} 


.segundo_container{
  margin-top: 70px;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.esquerda_segundo{
  
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.direita_segundo{

  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.livros-reservados {
  display: flex;
  background-color: #FFF9E1;
  height: 40%;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 2px #BD9B75;
  padding: 20px;
  gap: 20px;
  overflow-x: auto;
  flex-wrap: nowrap;
  overflow-y: hidden;        
        

}



.livros_e_notificacoes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.livros_acompanhando,
.notificacoes {
  background-color: #f8f3e5;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 2px #BD9B75;
  margin: 0 10px;
  height: 85%;
  width: 90%;
  padding: 20px;
  flex-wrap: wrap;
  display: flex;
  gap: 20px;
  margin: 20px;

}

h1 {
  font-size: 18px;
  color: #4a773c;
  text-align: center;
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: auto;
}

@media screen and (max-width: 1570px){
  .direita_primeira{
    width: 48vw;
  }
}

@media screen and (max-width: 1440px) {
  .container_principal_user{
    padding: 50px;
  }
  .esquerda_primeira{
    height: 500px;
    width: 300px;
  }
  .direita_primeira{
    height: 58vh;
    width: 63vw;
  }
  .img_perfil img{
  height: 200px;
  }
  .dados-pessoais p{
  font-size: 15px;
  }
  #nome_p{
  font-size: 30px;
  }

.reservados_perfil{
  width: 95%;
}
.multas_perfil{
  width: 95%;
}
.book-card{
  width: 10vw;
  height: 24vh;
}
.book-card-title{
  height: 2vh;
}
.livros_acompanhando,
.notificacoes{
  height: 60%;
}
.container_principal_user{
  height: auto;
}
.segundo_container{
  height: 60vh;
}

}

@media screen and (max-width: 980px){
  .direita_primeira{
    width: 48vw;
  }
  .segundo_container{
    margin-top: 20px;
    height: 50vh;
  }

  h1{
    font-size: 15px;
  }

  .livros_acompanhando,
  .notificacoes{
    width: 80%;
  }
}



@media screen and (max-width: 690px){
  .primeiro_container{
    height: 50vh;
  }
  .segundo_container{
    height: 50vh;
    margin-top: 40px;
  }
  .esquerda_primeira{
    height: 400px;
    width: 250px;
  }
  .direita_primeira{
    height: 400px;
    width: 280px;
  }
  .img_perfil img{
    height: 150px;
  }
  h2{
    font-size: 18px;
  }
  h1{
    font-size: 12px;
  }
}


@media screen and (max-width: 590px){
  .direita_primeira{
    width: 48vw;
  }
  .esquerda_primeira{
    width: 32vw;
  }

  .img_perfil img{
    height: 120px;
  }
  .dados-pessoais p{
    font-size: 13px;
  }
  h1{
    font-size: 10px;
  }
}