
    
    /* Container principal */
    .register-book-container {
      max-width: 500px;
      margin: 50px auto;
      padding: 40px;
      background: var(--marrom-claro);
      border-radius: 12px;
      box-shadow: 0px 0px 11px var(--marrom-escuro);
      text-align: center;
    }

    .input-register {
      background-color: var(--branco-diferente);
    }

    .input-register1 {
      background-color: var(--branco-diferente);
      margin-left: 10px;
    }
    
    /* Título */
    .register-book-container h1 {
      font-size: 24px;
      color: var(--branco-primario);
      padding-bottom: 30px;
    }
    
    /* Formulário */
    .register-book-form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin-right: 20px;
    }
    
    /* Inputs e Textarea */
    .register-book-form input,
    .register-book-form textarea,
    .register-book-form select {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 0px 8px var(--marrom-claro);
    }
    
    .register-book-form input:focus,
    .register-book-form textarea:focus,
    .register-book-form select:focus {
      border-color: #4CAF50;
      outline: none;
      box-shadow: 0px 0px 6px var(--marrom-escuro);
    }
    
    /* Textarea */
    .register-book-form textarea {
      min-height: 100px;
      resize: vertical;
    }
    
    /* Botão de Cadastro */
    .register-book-form button {
      font-size: 18px;
      padding: 12px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s;
    }
  
    
    /* Responsividade */
    @media (max-width: 600px) {
      .register-book-container {
        width: 90%;
        padding: 20px;
      }
    
      .register-book-form input,
      .register-book-form textarea,
      .register-book-form select {
        font-size: 14px;
        padding: 10px;
      }
    }
    
