/* Container principal da página */
.reserved-books-page-container {
    padding: 10vh;
    font-family: Arial, sans-serif;
  }
  .manage-books-container {
      display: flex;
      flex-direction: column;
  
      padding: 10vh;
      background-color: #f4f4f4;
      min-height: 100vh;
    }