/* Estilização principal do contêiner de usuários */
.users-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f9;
    min-height: 100vh;
  }
  
  /* Estilização do card de usuário */
  .user-profile-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 80%;
    max-width: 500px;
    text-align: center;
  }
  
  .user-profile-card h3 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .user-profile-card p {
    color: #666;
    font-size: 14px;
  }
  
  /* Seção de livros reservados e devolvidos */
  .books-section {
    margin-top: 20px;
  }
  
  .books-section h4 {
    color: #444;
    margin-bottom: 10px;
    text-decoration: underline;
  }
  
  .books-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  /* Botão de devolução */
  .return-book-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .return-book-button:hover {
    background-color: #45a049;
  }